.img-csi {
  max-width: 80%;
}
.img-ecell {
  max-width: 115%;
}
.header-link {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.count-down {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  max-width: 500px;
  .number,
  .dot {
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
  }
  .text {
    margin-top: -5px;
    color: $gray-400;
    font-size: 15px;
    display: inline-block;
  }
}
#register-button {
  transition: all 200ms linear;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .count-down {
    .number,
    .dot {
      font-size: 74px;
    }

    .text {
      font-size: 20px;
    }
  }
}
