.hero {
  text-align: center;

  h1 {
    padding: 4rem 0;
    font-size: 3.5rem;
  }

  button {
    background-color: #000;
    color: #fff;
  }

  .count-down {
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5rem 0 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 2rem;
    background-color: rgba(199, 185, 255, 0.35);

    span {
      font-size: 0.85rem;
      color: #282828;

      &.time {
        color: #000;
        font-size: 2.75rem;
        font-weight: bold;
      }
    }
  }

  a {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
  }
}
