.hero {
  text-align: center;
  padding: 4rem 0;

  h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px $orange;
  }

  button {
    background-color: $black;
    margin-top: 2rem;
    color: $white;
  }

  .count-down {
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(199, 185, 255, 0.35);
    margin: 2rem auto;

    span {
      font-size: 0.85rem;
      color: $light;

      &.time {
        color: $black;
        font-size: 2.75rem;
        font-weight: bold;
      }
    }
  }

  a {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

@media (min-width: 840px) {
  .hero {
    h1 {
      text-transform: uppercase;
      font-size: 5rem;
    }

    .count-down {
      padding: 0.5rem 0 1.25rem 0;
      margin: 4rem auto;
      max-width: 550px;

      span {
        font-size: 1rem;

        &.time {
          font-size: 5rem;
        }
      }
    }
  }
}
