.hero {
  text-align: center;
  margin: 3rem 0;

  .heading {
    transform: translate(0px, 10px);
    animation: heading $anim-duration ease $anim * 6 forwards;

    .word {
      position: relative;
      display: inline-block;

      .mouse {
        position: absolute;

        svg {
          width: 22px;
        }

        .helper-text {
          color: #fff;
          font-size: 0.75rem;
          padding: 0 5px;
          margin-left: -5px;
        }
      }
    }

    .text {
      font-size: 4.25rem;
      font-weight: bold;
    }

    .first-word {
      border: 2px solid transparent;
      animation: border-first $anim-duration ease $anim * 1 forwards,
        border-second $anim-duration ease $anim * 6 forwards;

      .mouse {
        animation: mouse-one-second $anim-duration ease $anim * 6 forwards;

        svg {
          color: $color-one;
        }

        .helper-text {
          background: $color-one;
        }
      }
    }

    .second-word {
      transform: translate(80px, 60px);
      animation: text $anim-duration ease $anim * 3 forwards;

      .mouse {
        transform: translate(180px, -30px);
        animation: mouse-two-first $anim-duration ease $anim * 2 forwards,
          mouse-two-second $anim-duration ease $anim * 6 forwards;

        svg {
          color: $color-two;
        }

        .helper-text {
          background: $color-two;
        }
      }
    }

    .third-word {
      transform: translate(-180px, 60px);
      animation: text $anim-duration ease $anim * 5 forwards;

      .mouse {
        animation: mouse-three-first $anim-duration ease $anim * 4 forwards,
          mouse-three-second $anim-duration ease $anim * 6 forwards;

        svg {
          color: $color-three;
        }

        .helper-text {
          background: $color-three;
        }
      }
    }
  }

  .location {
    display: inline-block;
    margin: 0 auto;
    margin-top: 5rem;

    .location-date,
    .location-place {
      padding: 0.25rem 0;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;

      .icon {
        svg {
          width: 20px;
        }
      }

      .text {
        padding-left: 0.75rem;
      }
    }
  }

  .count-down {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    border: 3px solid $black;
    border-radius: $border-radius;
    width: 100%;
    padding: 1rem 1.5rem;
    background: $timer-bg;

    .number,
    .dot {
      font-family: monospace;
      font-size: 3rem;
      font-weight: bold;
    }

    .text {
      display: inline-block;
      font-family: monospace;
      color: $light;
      margin-top: 0.25rem;
      font-size: 0.85rem;
    }
  }

  .description {
    margin-top: 1.35rem;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .btn-large {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    margin-top: 2.5rem;
    background: $black;
    color: $white;
  }

  .event-details {
    color: $black;
    display: block;
    font-weight: bold;
    margin-top: 1.75rem;
    font-size: 1.25rem;
  }
}

// Presenter
.presenter-diagonal {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  border-color: $white $offwhite $white $white;
}

.presenter-container {
  text-align: center;
  background: $offwhite;
  padding: 2.75rem 2rem !important;

  .presenters {
    display: flex;
    align-items: center;

    .logo {
      flex: 1;

      img {
        max-height: 55px;
      }
    }

    .logo-mj {
      margin-top: -15px;
      filter: invert(100%);
      padding: 0 0.5rem;

      img {
        max-height: 90px;
      }
    }
  }

  .bordered {
    margin-top: 3rem;
  }
}

@media (min-width: 840px) {
  .hero {
    .heading {
      .text {
        line-height: 1.25;
        font-size: 7rem;
      }

      .second-word {
        .mouse {
          transform: translate(200px, -100px);
        }
      }

      .third-word {
        .mouse {
          transform: translate();
        }
      }
    }

    .location {
      margin-top: 7rem;
      width: 49%;
    }

    .description {
      text-align: left;
      display: inline-block;
      width: 49%;
    }
  }
}
