nav {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    font-weight: bold;

    span {
      font-size: 3rem;
      color: $black;
      font-family: monospace !important;

      &.blink {
        animation: blinker 1s infinite step-start;
      }
    }
  }

  .navbar-end {
    display: flex;
    align-items: center;

    .navbar-links {
      display: none;
    }

    button {
      color: $white;
      border: none;
      line-height: 1;
      background: $blue;
      margin-right: 1.5rem;
    }
  }

  #cross {
    display: none;
  }
}

.navigation-drawer {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100vw;
  display: none;
  z-index: 10;
  background-color: $white;
  margin-top: -1px;

  a {
    text-decoration: none;
    color: $black;
    display: block;
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  button {
    color: $white;
    border: none;
    line-height: 1;
    background: $blue;
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 840px) {
  nav {
    .navbar-logo {
      span {
        font-size: 4rem;
      }
    }

    .navbar-links {
      display: flex !important;

      a {
        color: $black;
        text-decoration: none;
        font-size: 1rem;
        margin: 0 0.85rem;
        margin-top: 6px;

        &:after {
          content: '';
          height: 3px;
          margin-top: 3px;
          display: block;
          background: $white;
        }

        &:hover::after {
          display: block;
          background: $light;
        }

        &:last-of-type {
          margin-right: 2rem;
        }
      }
    }

    #hamburger {
      display: none;
    }
  }
}
