nav {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    font-weight: bold;

    span {
      font-size: 3rem;
      background: -webkit-linear-gradient(45deg, red, yellow);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: monospace !important;

      &.blink {
        animation: blinker 1s infinite step-start;
      }
    }
  }

  .navbar-end {
    display: flex;
    align-items: center;

    button {
      color: #fff;
      border: none;
      line-height: 1;
      background: #000;
      margin-right: 1.5rem;
    }
  }

  #cross {
    display: none;
  }
}

.navigation-drawer {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100vw;
  display: none;
  z-index: 10;
  background-color: #fff;

  a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.75rem 0;
    font-size: 1.25rem;
  }

  button {
    color: #fff;
    border: none;
    line-height: 1;
    background: #000;
    margin-top: 1rem;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
