$blue: #007bff;
$black: #000;
$light: #282828;
$white: #fff;
$offwhite: #f9f9f9;
$border-radius: 8px;

// Mouse
$color-one: #5551ff;
$color-two: #0fa958;
$color-three: #f24e1e;

// Animation
$anim: 400ms;
$anim-duration: 400ms;

$timer-bg: rgb(199, 185, 255, 0.25);

// Section background colors
$bg-1: #c7b9ff;
