$blue: #007bff;
$black: #000;
$light: #282828;
$white: #fff;
$orange: rgb(255, 69, 0);

// Mouse
$color-one: #5551ff;
$color-two: #0fa958;
$color-three: #f24e1e;

// Animation
$anim: 400ms;
$anim-duration: 400ms;
